

.gallery-adults-all1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-all2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-all3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-all4{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-adults-all5{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all6{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all7{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-adults-all8{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-adults-all9{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.gallery-adults-zebra1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-zebra2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-zebra3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-adults-brookline1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-brookline2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-brookline3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-adults-clear1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-clear2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-clear3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-adults-cute-easy1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-adults-cute-easy2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-adults-cute-easy3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-kids-all1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-all2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-all3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-all4{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-kids-all5{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all6{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all7{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 100px;
}
.gallery-kids-all8{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.gallery-kids-all9{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.gallery-kids-Cartoon1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-Cartoon2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-Cartoon3{
    width: 390px;
    height: 390px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-kids-fruits1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-fruits2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-fruits3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.gallery-kids-Cute-Easy1{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
}
.gallery-kids-Cute-Easy2{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.gallery-kids-Cute-Easy3{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
/*chinh sua phan button*/
.button-blog-main {
    color: #fff;
    background:rgba(1, 203, 217, 0.95);;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

.form-button {
    line-height: 38px;
    height: 38px;
    margin-left: 1px;
    text-align: center;
    margin-right:-20px;
    margin-top: 20px;
    width: 10%;
    cursor: pointer;
    color: white;
    float: left;
    margin-left: 40px;
}

.button-blog-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: #4b4b4b ;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.button-blog-main:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    z-index:1;
    transform: scale(1, 1);
    color: white;
}

.button-blog-main span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}
.button-gallery {
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.gallery-img {
    margin-left: 70px;

}

.gallery-adults-all1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all4:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all5:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all6:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all7:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all8:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-all9:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-zebra1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-zebra2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-zebra3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}


.gallery-adults-brookline1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-brookline2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-brookline3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-cute-easy1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-cute-easy2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-adults-cute-easy3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}


/*start-img-kid-nails*/
.gallery-kids-all1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-all2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all4:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all5:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all6:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all7:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all8:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-kids-all9:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cartoon1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cartoon2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cartoon3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-fruits1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}


.gallery-kids-fruits2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-fruits3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cute-Easy1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cute-Easy2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}

.gallery-kids-Cute-Easy3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-clear2:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-clear1:hover {
    transform: scale(2.0);
    transition: 0.5s;
}
.gallery-adults-clear3:hover {
    transform: scale(2.0);
    transition: 0.5s;
}


/*ket thuc chinh sua*/
